.filters-group .btn.btn-filter {
  display: inline-block;
  border-radius: 10px !important;
  margin: 5px;
  padding: 4px 6px;
  text-transform: none;
  border: 2px solid #000;
}

.btn-group.filter-options {
  display: block;
}
