<div class="{{ containerClass }} page__container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ prefix or '' }}dashboard.html">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ prefix or '' }}browse-courses.html">Courses</a></li>
    <li class="breadcrumb-item active">The MVC architectural pattern</li>
  </ol>   
  <h1 class="h2">Managerial Accounting</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://ghu.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=046f03c6-500e-40aa-b476-aac20181bc7d&v=1" width="720" height="405" style="padding: 0px; border: 1px solid #464646;" frameborder="0" allowfullscreen allow="autoplay"></iframe>
        </div>
        <div class="card-body">
          	Introduces the student to the business concepts and methods used to report managerial performance information to internal users and managers, to assist in making sound business decisions in managing the firm.
        </div>
      </div>

      <!-- Lessons -->
      <ul class="card list-group list-group-fit">
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <div class="text-muted">1.</div>
            </div>
            <div class="media-body">
              <a href="#">Lecture 1</a>
            </div>
            <div class="media-right">
              <small class="text-muted-light">2:59:03</small>
            </div>
          </div>
        </li>
        <li class="list-group-item active">
          <div class="media">
            <div class="media-left">2.</div>
            <div class="media-body">
              <a class="text-white" href="#">Lecture 2</a>
            </div>
            <div class="media-right">
              <small>2:25:01</small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <div class="media-left">
              <div class="text-muted">3.</div>
            </div>
            <div class="media-body">
              <a href="#">Lecture 3</a>
            </div>
            <div class="media-right">
              <small class="text-muted-light">3:12:10</small>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <p>
            <a href="{{ prefix or '' }}cart.html" class="btn btn-success btn-block flex-column">
                Purchase Course
                <strong>&dollar;2500 USD</strong>
            </a>
          </p>
          <!-- <div class="page-separator">
            <div class="page-separator__text">or</div>
          </div>
          <a href="{{ prefix or '' }}cart.html" class="btn btn-white btn-block flex-column">
            
          </a> -->
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="media align-items-center">
            <div class="media-left">
              <img src="https://ghuedu-feature-student-id-600080.dev.odoo.com/web/image?model=ghu.advisor&id=1969&field=image_medium&unique=09182019211333" alt="About Adrian" width="50" class="rounded-circle">
            </div>
            <div class="media-body">
              <h4 class="card-title"><a href="{{ prefix }}profile.html">Yusuf Nulla</a></h4>
              <p class="card-subtitle">Advisor</p>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p>Having over 12 years exp. Adrian is one of the lead UI designers in the industry Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, aut.</p>
          <a href="" class="btn btn-light"><i class="fab fa-facebook"></i></a>
          <a href="" class="btn btn-light"><i class="fab fa-twitter"></i></a>
          <a href="" class="btn btn-light"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="card">
        <ul class="list-group list-group-fit">
          <li class="list-group-item">
            <div class="media align-items-center">
              <div class="media-left">
                <i class="material-icons text-muted-light">assessment</i>
              </div>
              <div class="media-body">
                Information
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="media align-items-center">
              <div class="media-left">
                <i class="material-icons text-muted-light">schedule</i>
              </div>
              <div class="media-body">
                8 <small class="text-muted">hrs</small> &nbsp; 26 <small class="text-muted">min</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Ratings</h4>
        </div>
        <div class="card-body">
          <div class="rating">
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star</i>
            <i class="material-icons">star_border</i>
          </div>
          <small class="text-muted">20 ratings</small>  
        </div>
      </div>
    </div>
  </div>
</div>